<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="utf-8">
    <title>torofielder blog</title>
    <meta name="description" content="">
    <meta name="author" content="torofield">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Le HTML5 shim, for IE6-8 support of HTML elements -->
    <!--[if lt IE 9]>
    <script src="/theme/html5.js"></script>
    <![endif]-->

    <!-- Le styles -->
    <link href="/theme/bootstrap.min.css" rel="stylesheet">
    <link href="/theme/bootstrap.min.responsive.css" rel="stylesheet">
    <link href="/theme/local.css" rel="stylesheet">
    <link href="/theme/pygments.css" rel="stylesheet">

    <!-- So Firefox can bookmark->"abo this site" -->

</head>

<body>

<div class="navbar">
    <div class="navbar-inner">
    <div class="container">

         <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
             <span class="icon-bar"></span>
             <span class="icon-bar"></span>
             <span class="icon-bar"></span>
         </a>

        <a class="brand" href="">torofielder blog</a>

        <div class="nav-collapse">
        <ul class="nav">
            
        </ul>
        </div>
        
    </div>
    </div>
</div>

<div class="container">
    <div class="content">
    <div class="row">

        <div class="span9">
        

        


    <div class='article'>
        <div class="content-title">
            <a href="/sukuriputonoomian-qiang-sono3-vuejs-dao-ru-bian.html"><h1>スクリプトのお勉強 (その3) - Vue.js 導入編</h1></a>
土 28 11月 2015

by <a class="url fn" href="/author/torofield.html">torofield</a>
 


 
        </div>
        
        <div><div class="section" id="id1">
<h2>1.はじめに</h2>
<p>近年、web関係で「クライアントサイドJavaScript」というのがトレンドになっているそうです。</p>
<p>「クライアントサイドJavaScript」と、従来のWebアプリケーションとの違いは、ブラウザ側での動作が中心となることです。</p>
<p>従来のWebアプリケーションでは、Webサーバでの処理が中心でしたが、「クライアントサイドJavaScript」では、ブラウザ側での処理が中心となってきて、かつ、ユーザの使い勝手の良さが重要になってきます。</p>
<p>仕事でちょうど簡単なweb画面を1からつくる機会があり、クライアントサイドJavaScriptを使うことにしました。</p>
<p>現在使われているクライアントサイドJavaScriptは以下のようなものがあります。</p>
<ul class="simple">
<li>AngularJS</li>
<li>Knockout.js</li>
<li>React.js</li>
<li>Vue.js</li>
</ul>
<p>この中でも一番簡単そうなVue.jsを使用してみました。</p>
<div class="section" id="id2">
<h3>Vue.jsとは</h3>
<p>Vue.jsとは、以下のようなJavaScript用ライブラリです。</p>
<ul class="simple">
<li>View のみ</li>
<li>リアクティブデータバインディング</li>
</ul>
<blockquote>
<ul class="simple">
<li>HTMLの各タグとデータを自動的に結び付ける</li>
</ul>
</blockquote>
<ul class="simple">
<li>コンポーネントベース</li>
<li>簡単なAPI</li>
</ul>
<p>お手軽ライブラリのようなので、入門的に導入してみました。</p>
</div>
</div>
<div class="section" id="id3">
<h2>2.Vue.jsの導入</h2>
<p>まず、Vue.jsを試す環境を導入してみます。スクリプトの勉強にもなるため、Ruby on Rails上で動作させてみます。</p>
<p>以下を参考にしました。</p>
<p><a class="reference external" href="http://qiita.com/hkusu/items/64cfd8bf4b4c8391e454">http://qiita.com/hkusu/items/64cfd8bf4b4c8391e454</a></p>
<div class="section" id="id4">
<h3>前提</h3>
<ul class="simple">
<li>OS: Ubuntu 14.04</li>
<li>Ruby：2.1.6</li>
<li>Rails：4.2.5 (インストールした時点の最新)</li>
<li>Vue.js 1.0.10(Rails Assets経由)</li>
<li>rbenv使用</li>
</ul>
</div>
<div class="section" id="id5">
<h3>環境構築</h3>
<p>まずはrailsをインストールします。</p>
<pre class="literal-block">
$ mkdir rails; cd rails
$ rbenv global 2.1.6
$ rbenv rehash
$ gem install bundler
$ bundle init
### Gemfileの編集(rails追加)
$ vi Gemfile
gem 'rails'
$ bundle install --path=vendor/bundle
$ bundle exec rails new vuesample --skip-bundle -T
create
create  README.rdoc
create  Rakefile
...
$ cd vuesample
</pre>
<p>Rails上でVueを使用できるように設定します。Gemfileに以下を追記します。</p>
<pre class="literal-block">
source 'https://rails-assets.org' do
  gem 'rails-assets-vue'
end
gem 'therubyracer', platforms: :ruby
gem 'better_errors', group: :development
gem 'binding_of_caller', group: :development
gem 'pry-rails', group: :development
</pre>
<p>app/assets/javascripts/application.jsに下記を追記します。</p>
<pre class="literal-block">
//= require vue
</pre>
</div>
</div>
<div class="section" id="vue-todo">
<h2>3.Vueサンプル(TODO)の作成</h2>
<p>上記で、rails上にてVue.jsを書ける環境が整ったので、サンプルを作成してみます。</p>
<div class="section" id="id6">
<h3>サンプル作成</h3>
<p>ディレクトリ構成は以下の感じです。</p>
<pre class="literal-block">
app/assets/javascripts/components (vueコンポーネント 今回は不使用)
                      /models     (vueモデル)
   controller/todoapp/            (todoサンプルコントローラ(自動生成))
   views/todoapp/                 (todoサンプル view)
</pre>
</div>
<div class="section" id="rails-route">
<h3>railsコントローラ/ビュー/route作成</h3>
<p>railsのコントローラを作成し、railsのビューを定義します。</p>
<pre class="literal-block">
$ bundle exec rails g controller todoapp
$ vi app/views/todoapp/index.html.erb
&lt;body&gt;

&lt;div id=&quot;todoapp&quot;&gt;
  &lt;input v-model=&quot;newTodo&quot; v-on:keyup.enter=&quot;addTodo&quot;&gt;
  &lt;ul&gt;
    &lt;li v-for=&quot;todo in todos&quot;&gt;
      &lt;span&gt;{{ todo.text }}&lt;/span&gt;
      &lt;button v-on:click=&quot;removeTodo($index)&quot;&gt;X&lt;/button&gt;
    &lt;/li&gt;
  &lt;/ul&gt;
&lt;/div&gt;

&lt;/body&gt;
</pre>
<p>ブラウザからアクセスするためのconfig/route.rbに以下を追記します。</p>
<pre class="literal-block">
get 'todoapp' =&gt; 'todoapp#index'
</pre>
</div>
<div class="section" id="vue">
<h3>Vueのモデル作成</h3>
<p>vueのモデル部分(app/assets/javascripts/models/todo.js.coffee)は以下にしています。</p>
<pre class="literal-block">
$ -&gt;
  new Vue(
    el: '#todoapp',
    data:
      newTodo: '',
      todos: [
        { text: 'TODOを追加してください' }
      ]
    methods:
      addTodo: () -&gt;
        text = this.newTodo.trim()
        if (text)
          this.todos.push({ text: text })
          this.newTodo = ''
      removeTodo: (index) -&gt;
        this.todos.splice(index, 1)
  )
</pre>
</div>
<div class="section" id="rails">
<h3>rails起動</h3>
<p>以下で起動します。</p>
<pre class="literal-block">
$ bundle exec rails s -b 0.0.0.0 -p 30000
=&gt; Booting WEBrick
=&gt; Rails 4.2.5 application starting in development on http://0.0.0.0:30000
=&gt; Run `rails server -h` for more startup options
=&gt; Ctrl-C to shutdown server
[2015-11-28 16:02:48] INFO  WEBrick 1.3.1
[2015-11-28 16:02:48] INFO  ruby 2.1.6 (2015-04-13) [x86_64-linux]
[2015-11-28 16:02:48] INFO  WEBrick::HTTPServer#start: pid=16997 port=30000
</pre>
<p>そして、以下にアクセスすると、簡易TODOアプリにアクセスできます。</p>
<p><a class="reference external" href="http://192.168.0.10:30000/todoapp">http://192.168.0.10:30000/todoapp</a></p>
</div>
</div>
<div class="section" id="id7">
<h2>4.おわりに</h2>
<p>導入は、あっさり終わりました。</p>
<p>次はもう少し実用的な内容として、タブコンポーネントを実装しようと思います。</p>
</div>
</div>
        <hr />
    </div>
		

 
        

 

    <div class='article'>
        <a href="/sukuriputonomian-qiang-sono1-perlsmartcomments.html"><h2>スクリプトの勉強(その1) - perl(Smart::Comments)</h2></a>
        <div class= "well small"> 月 23 11月 2015

by <a class="url fn" href="/author/torofield.html">torofield</a>
 


 </div>
        <div class="summary"><div class="section" id="id1">
<h2>はじめに</h2>
<p>最近、仕事で、いろいろスクリプト(perl/python/ruby)を使用しています。</p>
<p>昔々からスクリプト自体の言語文法は知っていたものの、まともに使うのは、
初めてなので、各スクリプトにふさわしい実装ができず、作業が遅いと感じてます。</p>
<p>そのためには、とりあえず勉強、ということで、その勉強方法、および
過程を書いてみようと思います。</p>
<p>今回は、お仕事で主に使っているperlを題材にします。</p>
</div>
<div class="section" id="id2">
<h2>勉強方法</h2>
<p>なんかの言語を学ぶ場合は、以下の方法を試してみることにしてます。</p>
<ol class="arabic">
<li><dl class="first docutils">
<dt>本を探す。</dt>
<dd><p class="first last">言語文法を一通り理解するため。今回は、続・初めてのperl(電子書籍)
を買いました。</p>
</dd>
</dl>
</li>
<li><dl class="first docutils">
<dt>既存のライブラリなどを修正してみる</dt>
<dd><p class="first last">修正内容を検討する過程で、ライブラリの処理内容を見て、なるべく理解してみる。</p>
</dd>
</dl>
</li>
</ol>
<p>今回は、既存のライブラリを修正してみようと思います。</p>
<p>題材としてSmart::Commentsというライブラリにしました。</p>
</div>
<div class="section" id="smart-comments">
<h2>Smart::Comments</h2>
<p><a class="reference external" href="http://search.cpan.org/~neilb/Smart-Comments-1.06/lib/Smart/Comments.pm">Smart::Comments</a> とは、
デバッグ用のコメント出力用のライブラリです。</p>
<p>デバッグ用に、変数の内容をprint文出力するデバッグ(いわゆるprint文デバッグ)することは良くあります。</p>
<p>そして ...</p></div> <a class="btn btn-info xsmall" href="/sukuriputonomian-qiang-sono1-perlsmartcomments.html">read more</a></div>
    </div>	
				

 
        

 

    <div class='article'>
        <a href="/sukuriputonoomian-qiang-sono2-wen-fa-chietsukuzheng-xing-tsuru-insutorumatome.html"><h2>スクリプトのお勉強 (その2) - 文法チェック整形 ツール　インストールまとめ</h2></a>
        <div class= "well small"> 月 23 11月 2015

by <a class="url fn" href="/author/torofield.html">torofield</a>
 


 </div>
        <div class="summary"><div class="section" id="id2">
<h2>1.はじめに</h2>
<p>最近、仕事で複数スクリプトを組み合わせてコーディングすることが多くなりました。
それだと、各スクリプトの癖を忘れたり、そもそもどう書くのか忘れたりと、不良を作りこむ可能性が多くなります。</p>
<p>しかも、実装する環境自体も、複数ホストを組み合わせる場合も多くなりました。
その場合に、ホームディレクトリ以外にインストールできないホストで作業することも
ありえます。</p>
<p>また、インターネットに直接接続できないホストで作業することもあります。</p>
<p>と考えると、以下の条件で、スクリプトの文法チェック(lint)/整形する環境を整える必要があると考えました。</p>
<ul class="simple">
<li>主に使用するスクリプト</li>
</ul>
<blockquote>
<ul class="simple">
<li>perl</li>
<li>python</li>
<li>javascript (今回は割愛)</li>
<li>HTML (今回は割愛)</li>
<li>ruby (今回は割愛)</li>
</ul>
</blockquote>
<ul class="simple">
<li>コマンドで起動する</li>
</ul>
<p>IDEを使う方式もありますが、今回はコマンドで起動する方式にします。</p>
<ul class="simple">
<li>外部ネットワークに接続する方式を避ける</li>
</ul>
<p>インターネットに直接接続できないホストで作業する場合もあるため。</p>
<p>以降で各スクリプトのlint/整形ツールのインストール方法を書いていきます。</p>
</div>
<div class="section" id="perl">
<h2>2.perl</h2>
<div class="section" id="id3">
<h3>環境構築</h3>
<p>まず、外部ネットワークに接続できない場合でも、インストールできる環境を設定します。</p>
<p>perlblew、その他モジュールをインストールします。</p>
<p><a class="reference external" href="http://qiita.com/kayama0fa&#64;github/items/27e0c1f19d8484c30896">http://qiita.com/kayama0fa&#64;github ...</a></p></div></div> <a class="btn btn-info xsmall" href="/sukuriputonoomian-qiang-sono2-wen-fa-chietsukuzheng-xing-tsuru-insutorumatome.html">read more</a></div>
    </div>	
				

 
        

 

    <div class='article'>
        <a href="/スクリプトごと 文法チェック/整形 ツール　インストールまとめ.html"><h2>スクリプトのお勉強 (その2) - 文法チェック/整形 ツール　インストールまとめ</h2></a>
        <div class= "well small"> 月 23 11月 2015

by <a class="url fn" href="/author/torofield.html">torofield</a>
 


 </div>
        <div class="summary"><div class="section" id="id2">
<h2>1.はじめに</h2>
<p>最近、仕事で複数スクリプトを組み合わせてコーディングすることが多くなりました。
それだと、各スクリプトの癖を忘れたり、そもそもどう書くのか忘れたりと、不良を作りこむ可能性が多くなります。</p>
<p>しかも、実装する環境自体も、複数ホストを組み合わせる場合も多くなりました。
その場合に、ホームディレクトリ以外にインストールできないホストで作業することも
ありえます。</p>
<p>また、インターネットに直接接続できないホストで作業することもあります。</p>
<p>と考えると、以下の条件で主に使用するスクリプトの文法チェック(lint)/整形する環境を整える必要があると考えました。</p>
<ul class="simple">
<li>主に使用するスクリプト</li>
</ul>
<blockquote>
<ul class="simple">
<li>perl</li>
<li>python</li>
<li>javascript (今回は割愛)</li>
<li>HTML (今回は割愛)</li>
<li>ruby (今回は割愛)</li>
</ul>
</blockquote>
<ul class="simple">
<li>コマンドで起動する</li>
</ul>
<p>IDEを使う方式もありますが、今回はコマンドで起動する方式にします。</p>
<ul class="simple">
<li>外部ネットワークに接続する方式を避ける</li>
</ul>
<p>インターネットに直接接続できないホストで作業する場合もあるため。</p>
<p>以降で各スクリプトのlint/整形ツールのインストール方法を書いていきます。</p>
</div>
<div class="section" id="perl">
<h2>2.perl</h2>
<div class="section" id="id3">
<h3>環境構築</h3>
<p>まず、外部ネットワークに接続できない場合でも、インストールできる環境を設定します。</p>
<p>手始めに、cpanmコマンドをインストールします。export部分は.bashrcに入れてもよいです。</p>
<pre class="literal-block">
$ export PERL_LOCAL_LIB_ROOT=&quot;$HOME/perl5 ...</pre></div></div> <a class="btn btn-info xsmall" href="/スクリプトごと 文法チェック/整形 ツール　インストールまとめ.html">read more</a></div>
    </div>	
				

 
        

 

    <div class='article'>
        <a href="/Mojolicious XML-RPC Plugin2.html"><h2>Mojolicious XML-RPC Pluginの開発(2)</h2></a>
        <div class= "well small"> 月 23 11月 2015

by <a class="url fn" href="/author/torofield.html">torofield</a>
 


 </div>
        <div class="summary"><div class="section" id="id1">
<h2>はじめに</h2>
<p>「Mojolicious XML-RPC Pluginの開発」のその2です。</p>
<p>本内容では、前回の内容を踏まえ、XML-RPC実装を、Mojoliciousのプラグイン機能を使用して実装しようと思います。</p>
<p>説明は以下の順序で行います。</p>
<ol class="arabic simple">
<li>Mojolicious XML-RPC Plugin(以下 「FrontierXMLRPC」)とは</li>
<li>「FrontierXMLRPC」作成方法</li>
<li>「FrontierXMLRPC」使用方法</li>
<li>「FrontierXMLRPC」テスト手順</li>
</ol>
</div>
<div class="section" id="mojolicious-xml-rpc-plugin">
<h2>1. Mojolicious XML-RPC Pluginとは</h2>
<p>(その1)で行ったXML-RPCの実装を、以下の順序で再実装しようという試みです。</p>
<ol class="arabic simple">
<li>「FrontierXMLRPC」を作成する。</li>
<li>「FrontierXMLRPC」上でXML-RPC関数を実装する。</li>
</ol>
<p>「FrontierXMLRPC」プラグインは以下を目標に作成しました。</p>
<ul>
<li><dl class="first docutils">
<dt>単純にMojoliciousのプラグイン作成お勉強</dt>
<dd><p class="first last">XML-RPCプラグインなんてどこかにはあると思いますが
軽く調べたところ、目標に合致したものは公開されてないっぽい。</p>
</dd>
</dl>
</li>
<li><p class="first">簡単設定で関数をexportできる。</p>
</li>
<li><p class="first">XML入出力を記録できる。記録する処理をコールバックできる。</p>
</li>
</ul>
<div class="section" id="frontierxmlrpc">
<h3>1.1 「FrontierXMLRPC」概要図</h3>
<p>以下に「FrontierXMLRPC」の概念を示します。</p>
<pre class="literal-block">
XML-RPCクライアント ...</pre></div></div> <a class="btn btn-info xsmall" href="/Mojolicious XML-RPC Plugin2.html">read more</a></div>
    </div>	
				

 
        

 

    <div class='article'>
        <a href="/Mojolicious XML-RPC Plugin.html"><h2>Mojolicious XML-RPC Pluginの開発(1)</h2></a>
        <div class= "well small"> 月 23 11月 2015

by <a class="url fn" href="/author/torofield.html">torofield</a>
 


 </div>
        <div class="summary"><div class="section" id="id1">
<h2>はじめに</h2>
<p>最近、お仕事関連で、perlとWebアプリケーションを触っています。</p>
<p>両方一度にお勉強、ということで、perlのWAF(Webアプリケーションフレームワーク)を調べてみようと思いました。
ここでは、perlのMojolicious上で動作する、XML-RPC Pluginを作ってみようと思います。</p>
<p>説明は以下の順(1.-&gt;2.-&gt;3.)で行っていきます。記述内容が多くなってしまったので、(1)と(2)に分けます。</p>
<ol class="arabic simple">
<li>Mojoliciousとは -&gt;(1)</li>
<li>Mojolicious上でXML-RPC関数を直接実装(Pluginなし) -&gt;(1)</li>
<li>Mojolicious XML-RPC Plugin経由でXML-RPC実装 -&gt;(2)</li>
</ol>
<p>サンプルの実装は、[<a class="reference external" href="./xmlrpctest.tar.gz">mojoxmlrpc</a>]に置いてあります。</p>
</div>
<div class="section" id="mojolicious">
<h2>1. Mojoliciousとは</h2>
<p>&quot;Mojolicious&quot;とはperlのWAFです。なんとなくモダンそうなので調べてみました。</p>
<p>Mojolicious(<a class="reference external" href="http://mojolicio.us/">http://mojolicio.us/</a>)については、[<a class="reference external" href="https://github.com/yuki-kimoto/mojolicious-guides-japanese/wiki">Mojoliciousの日本語版wiki</a>]によくまとまってます。インストール方法から概要まで、一通り記述があります。</p>
</div>
<div class="section" id="xml-rpc">
<h2>1 ...</h2></div> <a class="btn btn-info xsmall" href="/Mojolicious XML-RPC Plugin.html">read more</a></div>
    </div>	
				

 
        

 

    <div class='article'>
        <a href="/icinga2 icinga web2 InfluxDB grafana.html"><h2>icinga2 + icinga web2 + InfluxDB + grafanaを使用したお手軽監視システム(その1)</h2></a>
        <div class= "well small"> 月 23 11月 2015

by <a class="url fn" href="/author/torofield.html">torofield</a>
 


 </div>
        <div class="summary"><div class="section" id="id1">
<h2>1.はじめに</h2>
<p>お仕事で監視ツールの調査をしていました。調べてみると、最近の監視システムは
以下の感じのようです。</p>
<ul class="simple">
<li>旧来からある安定したツール(zabbix,nagios)</li>
<li>Web UIが綺麗な先進的ツール(Munin,icinga2)</li>
<li>次世代監視ツール (Sensu,Consul)</li>
</ul>
<p>今回は、次世代監視ツールも興味があるものの、より実践的なicinga2の動作確認をしたいと思います。</p>
<p>目標として、お手軽に監視+可視化できる環境を整えることとします。</p>
</div>
<div class="section" id="id2">
<h2>2.監視+可視化システム概要</h2>
<p>監視+可視化システムは以下のように設定したいと思います。
VMはすでにインストールしてあるものとします。</p>
<pre class="literal-block">
VM(ubuntu 14.04)
 icinga2
 icinga web2
 grafina
 docker
   InfluxDB
</pre>
</div>
<div class="section" id="id3">
<h2>2.監視+可視化システムのインストール</h2>
<p>インストールするツールは以下の通りです。</p>
<ul class="simple">
<li>監視ツール</li>
<li>icinga2</li>
<li>icinga web2</li>
<li>可視化ツール</li>
</ul>
<blockquote>
<ul class="simple">
<li>docker</li>
<li>InfluxDB(docker版 ...</li></ul></blockquote></div> <a class="btn btn-info xsmall" href="/icinga2 icinga web2 InfluxDB grafana.html">read more</a></div>
    </div>	
				

 
        

 

    <div class='article'>
        <a href="/Ingressのポータル情報をrubyで表示/統計してみる その1.html"><h2>Ingressのポータル情報をrubyで表示/統計してみる その1</h2></a>
        <div class= "well small"> 木 27 8月 2015

by <a class="url fn" href="/author/torofield.html">torofield</a>
 


 </div>
        <div class="summary"><div class="section" id="id1">
<h2>1.はじめに</h2>
<p>2014年からIngressというゲームをしています。</p>
<p>Ingressを続けている理由は、主に健康のため(のつもり)ですが、それだけでは、
理由が不明確で、モチベーションに欠けるのも確かです。</p>
<p>なので、最近はIngress内のポータル <a class="footnote-reference" href="#id3" id="id2">[1]</a> 維持を(勝手に)目標にしています。</p>
<p>そうなると、ポータルを誰がどのぐらい維持できているのかが気になってきました。</p>
<p>なので、ポータルの情報を取得し、統計を取ってみようと考えました。
最近の仕事では、スクリプト言語を使用することが多いため、rubyで処理してみようと思います。</p>
<table class="docutils footnote" frame="void" id="id3" rules="none">
<colgroup><col class="label" /><col /></colgroup>
<tbody valign="top">
<tr><td class="label"><a class="fn-backref" href="#id2">[1]</a></td><td>ポータルとは、Ingress的に「記念碑や壁画、郵便局や学校といった公共施設、コンビニなど現実に存在するもの」で、ポータルをハックしたり、攻撃したりして、自分のポータルにできる。</td></tr>
</tbody>
</table>
</div>
<div class="section" id="id4">
<h2>2.ポータル情報の表示/統計を取るまでの方法</h2>
<p>ポータル情報の表示/統計を取るまでの方法は(現状で)以下を考えています。</p>
<ul class="simple">
<li>ポータル情報の取得</li>
<li>ポータル情報の格納/表示</li>
<li>ポータル情報の統計計算</li>
</ul>
<p>その1では「ポータル情報の取得」を記述し、その他はその2以降で記述したいと思います。</p>
</div>
<div class="section" id="id5">
<h2>3 ...</h2></div> <a class="btn btn-info xsmall" href="/Ingressのポータル情報をrubyで表示/統計してみる その1.html">read more</a></div>
    </div>	
				

 
        

 

    <div class='article'>
        <a href="/icinga2 icinga web2 opentsdb grafana.html"><h2>icinga2 + icinga web2 + opentsdb + grafanaを使用したお手軽監視システム(その1)</h2></a>
        <div class= "well small"> 日 12 7月 2015

by <a class="url fn" href="/author/torofield.html">torofield</a>
 


 </div>
        <div class="summary"><div class="section" id="id1">
<h2>1.はじめに</h2>
<p>お仕事で監視ツールの調査をしていました。調べてみると、最近の監視システムは
以下の感じのようです。</p>
<ul class="simple">
<li>旧来からある安定したツール(zabbix,nagios)</li>
<li>Web UIが綺麗な先進的ツール(Munin,icinga2)</li>
<li>次世代監視ツール (Sensu,Consul)</li>
</ul>
<p>今回は、次世代監視ツールも興味があるものの、より実践的なicinga2の動作確認をしたいと思います。</p>
<p>目標として、お手軽に監視+可視化できる環境を整えることとします。</p>
</div>
<div class="section" id="id2">
<h2>2.監視+可視化システム概要</h2>
<p>監視+可視化システムは以下のように設定したいと思います。
VMはすでにインストールしてあるものとします。</p>
<pre class="literal-block">
VM(ubuntu 14.04)
 icinga2
 icinga web2
 grafina
 docker
   docker1
    opentsdb
    icinga2
   docker2
    redis
    icinga2
</pre>
<p>docker2は、今回のシステムには不要ですが、1台では寂しいので
入れてみたいと思います。</p>
</div>
<div class="section" id="id3">
<h2>2.監視+可視化システムのインストール ...</h2></div> <a class="btn btn-info xsmall" href="/icinga2 icinga web2 opentsdb grafana.html">read more</a></div>
    </div>	
				

 
        

 

    <div class='article'>
        <a href="/kibana4 elasticsearch fluentd dstat ruby td-agent.html"><h2>kibana4 + elasticsearch + fluentd のdstatデータ</h2></a>
        <div class= "well small"> 土 25 4月 2015

by <a class="url fn" href="/author/torofield.html">torofield</a>
 


 </div>
        <div class="summary"><div class="section" id="id1">
<h2>1.はじめに</h2>
<p>仕事でkibana関連の調査をしたことがあります。</p>
<p>その際、kibanaのインストール自体は簡単でしたが、そこからグラフデータを表示するまでが、やたらと苦労しました。</p>
<p>kibanaのデータ表示の実例までは、検索しても出てこなかったので
書いておこうと思います。</p>
<p>主にkibanaでのグラフデータ表示をどのように設定するかを中心に書きたいと思います。</p>
<div class="section" id="id2">
<h3>概要</h3>
<pre class="literal-block">
td-agent -&gt; elastic search -&gt; kibana4
</pre>
</div>
</div>
<div class="section" id="id3">
<h2>2.インストール</h2>
<p>インストールするプログラムは以下の通りです。OSはubuntu 14.04を使用しています。</p>
<ul class="simple">
<li>JDK(インストール方法は割愛)</li>
<li>Fluentd(td-agent)</li>
<li>elasticsearch</li>
<li>kibana4</li>
</ul>
<div class="section" id="fluentd-td-agent">
<h3>Fluentd(td-agent)</h3>
<p>td-agentとはfluentd環境全部を格納したパッケージです。</p>
<p>td-agent、および、使用するpluginのインストール方法は以下の通りです。</p>
<pre class="literal-block">
$ curl -L http://toolbelt.treasuredata.com/sh/install-ubuntu-trusty-td-agent2.sh | sh
$ /usr/sbin/td-agent-gem install fluent-plugin-elasticsearch fluent-plugin-dstat ...</pre></div></div> <a class="btn btn-info xsmall" href="/kibana4 elasticsearch fluentd dstat ruby td-agent.html">read more</a></div>
    </div>	
				
<div class="pagination">
<ul>
    <li class="prev disabled"><a href="#">&larr; Previous</a></li>

    <li class="active"><a href="/author/torofield.html">1</a></li>

    <li class="next disabled"><a href="#">&rarr; Next</a></li>

</ul>
</div>
 
  
        </div>
        
        <div class="span3">

            <div class="well" style="padding: 8px 0; background-color: #FBFBFB;">
            <ul class="nav nav-list">
                <li class="nav-header"> 
                Site
                </li>
            
                <li><a href="/archives.html">Archives</a>
                <li><a href="/tags.html">Tags</a>




            </ul>
            </div>


            <div class="well" style="padding: 8px 0; background-color: #FBFBFB;">
            <ul class="nav nav-list">
                <li class="nav-header"> 
                Categories
                </li>
                
                <li><a href="/category/javascript-vuejs-clientjavascript.html">javascript vuejs clientjavascript</a></li>
                <li><a href="/category/mojolicious-xml-rpc-plugin.html">Mojolicious XML-RPC Plugin</a></li>
                <li><a href="/category/monitoring-dataanalysys.html">monitoring dataanalysys</a></li>
                <li><a href="/category/python-perl-javascript.html">python perl javascript</a></li>
                <li><a href="/category/ruby-ingress.html">ruby ingress</a></li>
                <li><a href="/category/ruby-kibana-elasticsearch-dataanalysys.html">ruby kibana elasticsearch dataanalysys</a></li>
                   
            </ul>
            </div>


            <div class="well" style="padding: 8px 0; background-color: #FBFBFB;">
            <ul class="nav nav-list">
                <li class="nav-header"> 
                Links
                </li>
            
                <li><a href="http://getpelican.com/">Pelican</a></li>
                <li><a href="http://python.org/">Python.org</a></li>
                <li><a href="http://jinja.pocoo.org/">Jinja2</a></li>
                <li><a href="#">You can modify those links in your config file</a></li>
            </ul>
            </div>


            <div class="social">
            <div class="well" style="padding: 8px 0; background-color: #FBFBFB;">
            <ul class="nav nav-list">
                <li class="nav-header"> 
                Social
                </li>
           
                <li><a href="#">You can add links in your config file</a></li>
                <li><a href="#">Another social link</a></li>
            </ul>
            </div>
            </div>

        </div>  
    </div>     </div> 
<footer>
<br />
<p><a href="">torofielder blog</a> &copy; torofield 2015</p>
</footer>

</div> <!-- /container -->
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
<script src="/theme/bootstrap-collapse.js"></script>
 
</body>
</html>